bl
backup.ps1
BackupSettings.lnk
crl
feature_usage_event_log_salt
PermanentDeviceId
PermanentUserId

consentOptions/
dotTrace/
IntelliJ/
Rider2024.3/.lock
Rider2024.3/app-internal-state.db
Rider2024.3/c.kdbx
Rider2024.3/c.pwd
Rider2024.3/chrome-user-data/
Rider2024.3/event-log-metadata/
Rider2024.3/plugin_DC.license
Rider2024.3/plugin_DPN.license
Rider2024.3/plugin_PCWMP.license
Rider2024.3/plugins/*
!/Rider2024.3/plugins/Rossynt/
!/Rider2024.3/plugins/Rossynt/*
Rider2024.3/rider.key
Rider2024.3/updatedBrokenPlugins.db
Rider2024.3/global-model-cache/
Rider2024.3/options/aeIdeId.xml
Rider2024.3/options/actionSummary.xml
Rider2024.3/options/features.usage.statistics.xml
Rider2024.3/options/github.xml
Rider2024.3/options/recentSolutions.xml
Rider2024.3/options/recentSolutionsConfiguration.xml
Rider2024.3/options/riderProjectTemplateCache.xml
Rider2024.3/options/spellchecker-dictionary.xml
Rider2024.3/options/trusted-paths.xml
Rider2024.3/options/trustedSolutions.xml
Rider2024.3/resharper-host/Cache/
Rider2024.3/resharper-host/DecompilerCache/
Rider2024.3/resharper-host/processes/
Rider2024.3/resharper-host/SourcesCache/
Rider2024.3/resharper-host/UsageStatistics2/
Rider2024.3/resharper-host/UsageStatistics2.0/
Rider2024.3/resharper-host/event-log-state.json
Rider2024.3/riderSdks.*
Rider2024.3/tasks/
Rider2024.3/user.web.token
Rider2024.3/scratches/
Rider2024.3/workspace/
Shared/
WebStorm2024.3/






