bl
backup.sh
crl
feature_usage_event_log_salt
PermanentDeviceId
PermanentUserId
consentOptions/
dotTrace/
IntelliJ/
PrivacyPolicy/
Rider2026.1/.lock
Rider2026.1/app-internal-state.db
Rider2026.1/c.kdbx
Rider2026.1/c.pwd
Rider2026.1/chrome-user-data/
Rider2026.1/event-log-metadata/
Rider2026.1/plugin_DC.license
Rider2026.1/plugin_DPN.license
Rider2026.1/plugin_PCWMP.license
Rider2026.1/plugins/*
Rider2026.1/rider.key
Rider2026.1/updatedBrokenPlugins.db
Rider2026.1/global-model-cache/
Rider2026.1/options/aeIdeId.xml
Rider2026.1/options/actionSummary.xml
Rider2026.1/options/ConversationToolStoreService.xml
Rider2026.1/options/features.usage.statistics.xml
Rider2026.1/options/github.xml
Rider2026.1/options/inline.factors.completion.xml
Rider2026.1/options/recentSolutions.xml
Rider2026.1/options/recentSolutionsConfiguration.xml
Rider2026.1/options/rider.perapp.window.state.v2.xml
Rider2026.1/options/riderProjectTemplateCache.xml
Rider2026.1/options/spellchecker-dictionary.xml
Rider2026.1/options/trusted-paths.xml
Rider2026.1/options/trustedSolutions.xml
Rider2026.1/options/contributorSummary.xml
Rider2026.1/options/grazie_global.xml
Rider2026.1/options/other.xml
Rider2026.1/options/terminal.xml
Rider2026.1/options/updates.xml
Rider2026.1/options/usage.statistics.xml
Rider2026.1/options/usageView.xml
Rider2026.1/options/window.state.xml
Rider2026.1/resharper-host/Downloader.xml
Rider2026.1/resharper-host/Cache/
Rider2026.1/resharper-host/DecompilerCache/
Rider2026.1/resharper-host/processes/
Rider2026.1/resharper-host/SourcesCache/
Rider2026.1/resharper-host/UsageStatistics2/
Rider2026.1/resharper-host/UsageStatistics2.0/
Rider2026.1/resharper-host/event-log-state.json
Rider2026.1/riderSdks.*
Rider2026.1/tasks/
Rider2026.1/user.web.token
Rider2026.1/scratches/
Rider2026.1/workspace/
Shared/
WebStorm2025.3/
CLion2025.3/
