bl
backup.ps1
BackupSettings.lnk
crl
feature_usage_event_log_salt
PermanentDeviceId
PermanentUserId

consentOptions/
dotTrace/
Rider2023.2/.lock
Rider2023.2/c.kdbx
Rider2023.2/c.pwd
Rider2023.2/plugin_DC.license
Rider2023.2/plugin_DPN.license
Rider2023.2/rider.key
Rider2023.2/updatedBrokenPlugins.db
Rider2023.2/global-model-cache/
Rider2023.2/options/actionSummary.xml
Rider2023.2/options/features.usage.statistics.xml
Rider2023.2/options/recentSolutions.xml
Rider2023.2/options/recentSolutionsConfiguration.xml
Rider2023.2/options/trusted-paths.xml
Rider2023.2/options/trustedSolutions.xml
Rider2023.2/resharper-host/Cache/
Rider2023.2/resharper-host/DecompilerCache/
Rider2023.2/resharper-host/SourcesCache/
Rider2023.2/resharper-host/UsageStatistics2/
Rider2023.2/resharper-host/UsageStatistics2.0/
Rider2023.2/resharper-host/event-log-state.json
Rider2023.2/resharper-host/processes/
Rider2023.2/scratches/
Rider2023.2/workspace/
Shared/
WebStorm2023.2/

